<h1 class="titulo">Rueda Fiel</h1>
<nav>
    <ul class="nav">
        <li><img routerLink="/principal" src="images/iconrueda.png" alt="Logo con rueda"></li>
        <li><strong routerLink="/principal">Inicio</strong></li>
        <li><strong routerLink="/estilosLlanta">Estilos</strong></li>
        <li><strong routerLink="">Marcas</strong></li>
        <li><strong routerLink="">Llantas de moto</strong></li>
        <li><strong routerLink="">Promociones</strong></li>
        <li class="btnCarrito"><img routerLink="" src="images/carrito-de-compras.png" alt="Carro de compras"></li>
        <li class="btnPerfil"><img routerLink="" src="images/perfil.png" alt="Perfil"></li>
    </ul>
</nav>
